@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using MudBlazor
@using WASMLibrary.Index

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main>
        @if (!IsRegistrationPage)
        {
            <div class="top-row px-4 auth">
                <div class="nav-left">
                    <NavMenu />
                </div>
                <div class="profile-right">
                    <LoginDisplay />
                </div>
            </div>
        }
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool IsRegistrationPage => NavigationManager.Uri.Contains("/registration", StringComparison.OrdinalIgnoreCase);
}
